## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [104]:
import numpy as np
import pandas as pd

recipes = pd.read_csv('recipes_sample.csv', index_col = 'n_steps')
recipes

,name,id,minutes,contributor_id,submitted,description,n_ingredients
n_steps,,,,,,,
NaN,george s at the cove black bean soup,44123,90,35193,2002-10-25,an original recipe created by chef scott meska...,18.0
NaN,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,my children and their friends ask for my homem...,NaN
NaN,i can t believe it s spinach,38798,30,1533,2002-08-29,"these were so go, it surprised even me.",8.0
NaN,italian gut busters,35173,45,22724,2002-07-27,my sister-in-law made these for us at a family...,NaN
4.0,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...
16.0,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,this is based on a french recipe but i changed...,10.0
NaN,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,"this is a traditional fresh plum cake, thought...",11.0
NaN,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,this is a traditional late summer early fall s...,NaN
NaN,zydeco soup,486161,60,227978,2012-08-29,this is a delicious soup that i originally fou...,NaN
9.0,cookies by design cookies on a stick,298512,29,506822,2008-04-15,"i've heard of the 'cookies by design' company,...",10.0

In [105]:
reviews = pd.read_csv('reviews_sample.csv', index_col = 0)
reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [106]:
display(recipes.shape)
display(reviews.shape)
display(recipes.dtypes)
display(reviews.dtypes)

(30000, 7)

(126696, 5)

name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
description        object
n_ingredients     float64
dtype: object

user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [107]:
display(recipes.isna().sum()/len(recipes))

name              0.000000
id                0.000000
minutes           0.000000
contributor_id    0.000000
submitted         0.000000
description       0.020767
n_ingredients     0.296000
dtype: float64

In [108]:
display(reviews.isna().sum()/len(reviews))

user_id      0.000000
recipe_id    0.000000
date         0.000000
rating       0.000000
review       0.000134
dtype: float64

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [109]:
recipes[['minutes', 'n_ingredients']].mean()

minutes          123.358133
n_ingredients      9.008286
dtype: float64

In [110]:
reviews[['rating']].mean()

rating    4.410802
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [111]:
rand_df = recipes['name'].sample(10)
rand_df

n_steps
12.0                   drunken chicken ii
10.0                sausage biscuit bites
8.0                         soda crackers
6.0                         fudge jumbles
17.0                       manly marzetti
9.0     pot sticker chicken egg drop soup
NaN      easy creamy garlic dipping sauce
NaN                   mexican dessert dip
NaN                  garlic and oil pasta
NaN                butterscotch chai  hot
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [112]:
reviews.reset_index(drop=True, inplace=True)
reviews

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [113]:
recipes[(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)]

,name,id,minutes,contributor_id,submitted,description,n_ingredients
n_steps,,,,,,,
11.0,quick biscuit bread,302399,20,213909,2008-05-06,this is a wonderful quick bread to make as an ...,5.0
NaN,peas fit for a king or queen,303944,20,213909,2008-05-16,this recipe is so simple and the flavors are s...,5.0
4.0,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,pineapple mimosa was changed to hawaiian sunri...,3.0
NaN,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
NaN,1 minute meatballs,11361,13,4470,2001-09-03,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...
9.0,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,"i haven't tried this yet, but i am going to so...",5.0
8.0,ziplock vanilla ice cream,74250,10,24386,2003-10-29,a fun thing for kids to do. may want to use mi...,3.0
4.0,zucchini and corn with cheese,256177,15,305531,2007-09-29,from betty crocker fresh spring recipes. i lik...,5.0
3.0,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,simple and yummy!,3.0
6.0,zucchini with serrano ham,162411,15,152500,2006-03-31,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [114]:
recipes2 = pd.read_csv('recipes_sample.csv', index_col = "id", parse_dates = ['submitted'])
display(recipes2.dtypes)
recipes2

name                      object
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

,name,minutes,contributor_id,submitted,n_steps,description,n_ingredients
id,,,,,,,
44123,george s at the cove black bean soup,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
67664,healthy for them yogurt popsicles,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
38798,i can t believe it s spinach,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
35173,italian gut busters,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
84797,love is in the air beef fondue sauces,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...
267661,zurie s holey rustic olive and cheddar bread,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
386977,zwetschgenkuchen bavarian plum cake,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
103312,zwiebelkuchen southwest german onion cake,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
486161,zydeco soup,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
298512,cookies by design cookies on a stick,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [115]:
recipes[recipes.submitted <= '2010-12-31']

,name,id,minutes,contributor_id,submitted,description,n_ingredients
n_steps,,,,,,,
NaN,george s at the cove black bean soup,44123,90,35193,2002-10-25,an original recipe created by chef scott meska...,18.0
NaN,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,my children and their friends ask for my homem...,NaN
NaN,i can t believe it s spinach,38798,30,1533,2002-08-29,"these were so go, it surprised even me.",8.0
NaN,italian gut busters,35173,45,22724,2002-07-27,my sister-in-law made these for us at a family...,NaN
4.0,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...
NaN,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,refrigerator pickles for some of the zucchini ...,8.0
16.0,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,this is based on a french recipe but i changed...,10.0
NaN,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,"this is a traditional fresh plum cake, thought...",11.0
NaN,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,this is a traditional late summer early fall s...,NaN
9.0,cookies by design cookies on a stick,298512,29,506822,2008-04-15,"i've heard of the 'cookies by design' company,...",10.0

In [116]:
recipes[pd.to_datetime(recipes.submitted).dt.year <= 2010]

,name,id,minutes,contributor_id,submitted,description,n_ingredients
n_steps,,,,,,,
NaN,george s at the cove black bean soup,44123,90,35193,2002-10-25,an original recipe created by chef scott meska...,18.0
NaN,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,my children and their friends ask for my homem...,NaN
NaN,i can t believe it s spinach,38798,30,1533,2002-08-29,"these were so go, it surprised even me.",8.0
NaN,italian gut busters,35173,45,22724,2002-07-27,my sister-in-law made these for us at a family...,NaN
4.0,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...
NaN,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,refrigerator pickles for some of the zucchini ...,8.0
16.0,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,this is based on a french recipe but i changed...,10.0
NaN,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,"this is a traditional fresh plum cake, thought...",11.0
NaN,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,this is a traditional late summer early fall s...,NaN
9.0,cookies by design cookies on a stick,298512,29,506822,2008-04-15,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [117]:
recipes['description_length'] = recipes.description.str.len()
recipes

,name,id,minutes,contributor_id,submitted,description,n_ingredients,description_length
n_steps,,,,,,,,
NaN,george s at the cove black bean soup,44123,90,35193,2002-10-25,an original recipe created by chef scott meska...,18.0,330.0
NaN,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,my children and their friends ask for my homem...,NaN,255.0
NaN,i can t believe it s spinach,38798,30,1533,2002-08-29,"these were so go, it surprised even me.",8.0,39.0
NaN,italian gut busters,35173,45,22724,2002-07-27,my sister-in-law made these for us at a family...,NaN,154.0
4.0,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...
16.0,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,this is based on a french recipe but i changed...,10.0,484.0
NaN,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,"this is a traditional fresh plum cake, thought...",11.0,286.0
NaN,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,this is a traditional late summer early fall s...,NaN,311.0
NaN,zydeco soup,486161,60,227978,2012-08-29,this is a delicious soup that i originally fou...,NaN,648.0
9.0,cookies by design cookies on a stick,298512,29,506822,2008-04-15,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [118]:
recipes.name = recipes.name.str.title()
recipes

,name,id,minutes,contributor_id,submitted,description,n_ingredients,description_length
n_steps,,,,,,,,
NaN,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,an original recipe created by chef scott meska...,18.0,330.0
NaN,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,my children and their friends ask for my homem...,NaN,255.0
NaN,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,"these were so go, it surprised even me.",8.0,39.0
NaN,Italian Gut Busters,35173,45,22724,2002-07-27,my sister-in-law made these for us at a family...,NaN,154.0
4.0,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...
16.0,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,this is based on a french recipe but i changed...,10.0,484.0
NaN,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,"this is a traditional fresh plum cake, thought...",11.0,286.0
NaN,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,this is a traditional late summer early fall s...,NaN,311.0
NaN,Zydeco Soup,486161,60,227978,2012-08-29,this is a delicious soup that i originally fou...,NaN,648.0
9.0,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [119]:
recipes['name_word_count'] = recipes.name.str.split().str.len()
recipes

,name,id,minutes,contributor_id,submitted,description,n_ingredients,description_length,name_word_count
n_steps,,,,,,,,,
NaN,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,an original recipe created by chef scott meska...,18.0,330.0,8
NaN,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,my children and their friends ask for my homem...,NaN,255.0,5
NaN,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,"these were so go, it surprised even me.",8.0,39.0,7
NaN,Italian Gut Busters,35173,45,22724,2002-07-27,my sister-in-law made these for us at a family...,NaN,154.0,3
4.0,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...
16.0,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,this is based on a french recipe but i changed...,10.0,484.0,8
NaN,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
NaN,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,this is a traditional late summer early fall s...,NaN,311.0,5
NaN,Zydeco Soup,486161,60,227978,2012-08-29,this is a delicious soup that i originally fou...,NaN,648.0,2
9.0,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [120]:
recipe_count_for_cont_id = recipes['contributor_id'].value_counts()
recipe_count_for_cont_id

contributor_id
89831      421
37449      346
37779      345
1533       186
169430     183
          ...
1061628      1
1076183      1
429061       1
64032        1
186118       1
Name: count, Length: 8404, dtype: int64

In [121]:
max_for_contributors = recipe_count_for_cont_id.idxmax()
max_for_contributors

89831

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [122]:
average_rating = reviews.groupby('recipe_id')['rating'].mean()
average_rating

recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64

In [123]:
# recipes_id_unique_reviews = len(reviews.recipe_id.nunique())
recipes_id_unique_reviews = len(reviews.recipe_id.value_counts().index)
recipes.shape[0] - recipes_id_unique_reviews

1900

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [124]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'])
recipes_per_year = recipes.groupby(recipes['submitted'].dt.year).size()
recipes_per_year

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
dtype: int64

In [125]:
recipes_per_year2 = recipes['submitted'].dt.year.value_counts()
recipes_per_year2

submitted
2007    4429
2008    4029
2006    3473
2005    3130
2009    2963
2002    2644
2003    2334
2004    2153
2010    1538
2011     922
2012     659
2001     589
2013     490
1999     275
2014     139
2000     104
2015      42
2017      39
2016      24
2018      24
Name: count, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [126]:
#Когда мы считаем, что отзыва нет? 
#1. Аналогично одной из предыдущих задач: если нет отзыва, то нет ни комментария, ни оценки одновременно

reviews3 = reviews.rename(columns={'recipe_id': 'id'})

recipes_and_reviews = pd.merge(recipes[['id', 'name']], reviews3[['id', 'user_id', 'rating']], how='inner', left_on = 'id', right_on = 'id')
recipes_and_reviews

            id                                    name  user_id  rating
0        44123   George S At The Cove  Black Bean Soup   743566       5
1        44123   George S At The Cove  Black Bean Soup    76503       5
2        44123   George S At The Cove  Black Bean Soup    34206       5
3        67664      Healthy For Them  Yogurt Popsicles   494084       5
4        67664      Healthy For Them  Yogurt Popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             Zydeco Soup   305531       5
126692  486161                             Zydeco Soup  1271506       5
126693  486161                             Zydeco Soup   724631       5
126694  486161                             Zydeco Soup   133174       5
126695  298512  Cookies By Design   Cookies On A Stick   804234       1

[126696 rows x 4 columns]

In [127]:
#2. Имеется ввиду отсутствие непосредственно комментария

reviews3 = reviews.rename(columns={'recipe_id': 'id'})

recipes_and_reviews = pd.merge(recipes[['id', 'name']], reviews3[['id', 'user_id', 'rating']], how='inner', left_on = 'id', right_on = 'id')

recipes_and_reviews_new = recipes_and_reviews[reviews3.review.isna() != True]
recipes_and_reviews_new

            id                                    name  user_id  rating
0        44123   George S At The Cove  Black Bean Soup   743566       5
1        44123   George S At The Cove  Black Bean Soup    76503       5
2        44123   George S At The Cove  Black Bean Soup    34206       5
3        67664      Healthy For Them  Yogurt Popsicles   494084       5
4        67664      Healthy For Them  Yogurt Popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             Zydeco Soup   305531       5
126692  486161                             Zydeco Soup  1271506       5
126693  486161                             Zydeco Soup   724631       5
126694  486161                             Zydeco Soup   133174       5
126695  298512  Cookies By Design   Cookies On A Stick   804234       1

[126679 rows x 4 columns]

In [128]:
recipes_and_reviews[reviews3.review.isna() == True]

,id,name,user_id,rating
8881,72761,Banana Bread Sticks For Baby,463298,5
12129,304615,Belgian Carrots,53932,5
18578,48742,Brunswick Stew,56112,5
21913,140771,Carthagenian Flank Steak,672534,3
33232,88753,Cottage Cheese Roast Vegetarian Meatloaf,291358,5
42783,305551,Dutch Apple Tart,111296,5
42855,76540,E Z Doughnuts,431407,4
43551,175182,Easy Asian Style Low Fat Microwave Steamed Fish,2016381,5
53998,359146,Grandma Wolcotts Chocolate Jumbles 1912,424680,5
55100,286498,Green Beans With Lemon Mustard And Bacon,970010,5
56197,65817,Grilled Squash And Zucchini,91009,4
59803,376622,Homemade Panko Japanese Bread Crumbs,37449,5
67973,88804,Kittencal S Greek Moussaka,131674,5
71067,9993,Lemon Noodles,322548,4
96199,18456,Roasted Carrots And Parsnips,131021,5
105206,414792,Southwest Stuffed Peppers Light,1525103,5
109590,247848,Summer Corn Chowder With Scallions Bacon Pot...,2002161844,4

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [152]:
recipes3 = recipes.rename(columns={'id': 'recipe_id'})

recipes_and_reviews2 = pd.merge(reviews['recipe_id'], recipes3[['recipe_id', 'name']], how='right')

review_count_column = reviews.groupby('recipe_id').size().reset_index(name='review_count')

recipes_and_reviews2 = pd.merge(recipes_and_reviews2, review_count_column, on='recipe_id', how='left')

unique_recipes_and_reviews2 = recipes_and_reviews2.drop_duplicates()
unique_recipes_and_reviews2 = unique_recipes_and_reviews2.fillna(0)
unique_recipes_and_reviews2

        recipe_id                                          name  review_count
0           44123         George S At The Cove  Black Bean Soup           3.0
3           67664            Healthy For Them  Yogurt Popsicles           8.0
11          38798                  I Can T Believe It S Spinach           3.0
14          35173                          Italian  Gut Busters           1.0
15          84797      Love Is In The Air  Beef Fondue   Sauces           8.0
...           ...                                           ...           ...
128577     267661  Zurie S Holey Rustic Olive And Cheddar Bread           4.0
128581     386977          Zwetschgenkuchen  Bavarian Plum Cake           2.0
128583     103312   Zwiebelkuchen   Southwest German Onion Cake           6.0
128589     486161                                   Zydeco Soup           6.0
128595     298512        Cookies By Design   Cookies On A Stick           1.0

[30000 rows x 3 columns]

In [154]:
unique_recipes_and_reviews2[unique_recipes_and_reviews2.recipe_id==363362] # Проверка (действительно, у рецепта с id 363362 0 отзывов)

        recipe_id                                  name  review_count
128535     363362  Zucchini With Bell Pepper And Tomato           0.0

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [131]:
mean_rating_by_year = reviews.groupby('date')['rating'].mean()

year_min_mean = mean_rating_by_year.idxmin()
year_min_mean

'2000-06-02'

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [29]:
sorted_recipes = recipes.sort_values(by='name_word_count', ascending=False)

sorted_recipes.to_csv('output.csv')

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [155]:
with pd.ExcelWriter('output2.xlsx') as writer_:
    recipes_and_reviews_new.to_excel(writer_, sheet_name='Рецепты с оценками', index=False)
    unique_recipes_and_reviews2.to_excel(writer_, sheet_name='Количество отзывов по рецептам', index=False)